body {
    background-color: #eeeeee;
    text-align: center;
    color: #050505;
}

h3 {
    color: #e76f51;
    letter-spacing: 1px;
    font-size: 70px;
    font-family:  monospace;
}

p {
    line-height: 1.6;
    padding-left: 200px;
    padding-right: 200px;
}

table {
    background-color: #f4a261;
    margin-left: auto;
    margin-right: auto;
}
