h3 {
    color: purple;
    text-align: left;
    font-size: 70px;
    font-family:  monospace;
    background-color: yellow;
}

p {
    text-decoration: wavy underline;
    background-color: rgb(130, 206, 6);
}

nav {
    background: brown;
}

img{
    font-size: 50px;
}

body {
    background-color: cyan;
}